[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = FAKE_REPOSITORY_URI
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "leap"]
	remote = origin
	merge = refs/heads/leap
[branch "cm1_r192"]
	remote = origin
	merge = refs/heads/cm1_r192
